<h1>Eat Da Burger!</h1>

<img src="/assets/img/burger.png" alt="cute burger cartoon">

<h2>Burgers To Eat!</h2>

<ul>
    {{#each burgers}}
    <li>
        <p>{{burger_name}}</p> <button type="submit">Devour it!</button>
    </li>
    {{!-- {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}} --}}
    {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

<ul>
    {{#each burgers}}
    {{!-- {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}} --}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burgerForm">Burger Name:</label>
        <input type="text" id="burgerForm" name="name">
    </div>

    <button type="submit">Add Burger</button>
</form>